@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Header Section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.right {
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
}

.active {
  text-decoration: none;
  padding-left: 10px;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
}
/* End Header Section */

/* Toggle Button Section */

/* End Toggle Button Section */

/* Hero Section */

#hero {
  padding-bottom: 700px;
  background-image: url(https://wallpapercave.com/wp/wp2141407.jpg);
}

.intro {
  padding-top: 500px;
  padding-left: 600px;
}
.greeting {
  font-size: 75px;
}
.continued {
  font-size: 70px;
}
.name {
  font-size: 70px;
  padding-bottom: 50px;
}
.action {
  text-decoration: none;
  font-size: 45px;
}
/* End Hero Section */

/* Projects Section */
#work {
  padding-top: 300px;
  background-color: beige;
  padding-bottom: 300px;
  text-align: center;
}
.one {
  font-size: 40px;
  padding-bottom: 200px;
}
.two {
  font-size: 40px;
  padding-bottom: 200px;
}
.three {
  font-size: 50px;
  padding-bottom: 200px;
}
.four {
  font-size: 60px;
}
/* End Projects Section */
